.movie {
   display: flex;
   align-items: center;
   border: 1px solid grey;
   border-radius: 5px;
   padding: 5px;
   margin-bottom: 5px;
}

.movie .movie_title {
   flex-grow: 1;
   font-size: 30px;
}

.movie .movie_year {
   font-size: 0.5rem;
   color: red;
}
